@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-grey: 60 1% 48%;
  --dark-grey: 60 2% 18%;
  /* More muted, eraser-like pink */
  --pink: 348 30% 75%;
  --soft-pink: 348 30% 85%;
  --white: 0 0% 100%;

  --background: var(--white);
  --foreground: var(--dark-grey);

  --primary: var(--pink);
  --primary-foreground: var(--dark-grey);

  --secondary: var(--light-grey);
  --secondary-foreground: var(--white);

  --muted: 60 5% 96%;
  --muted-foreground: 60 1% 48%;

  --accent: var(--light-grey);
  --accent-foreground: var(--white);
}

.dark {
  --background: var(--dark-grey);
  --foreground: var(--white);

  --primary: var(--pink);
  --primary-foreground: var(--dark-grey);

  --secondary: var(--light-grey);
  --secondary-foreground: var(--white);

  --muted: 60 2% 28%;
  --muted-foreground: 60 5% 84%;

  --accent: var(--light-grey);
  --accent-foreground: var(--white);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .texture-noise {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.15;
  }

  .texture-dots {
    background-image: radial-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px),
      radial-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 20px 20px, 10px 10px;
    background-position: 0 0, 10px 10px;
  }
}