---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Testimonials from '../components/Testimonials.astro';
import GettingStarted from '../components/GettingStarted.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Bebop - Content management for content people">
  <main class="flex min-h-screen flex-col items-center justify-between">
    <Header />
    <Hero />
    <Features />
    <Testimonials />
    <GettingStarted />
    <CTA />
    <Footer />
  </main>
</Layout>