---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Testimonials from '../components/Testimonials.astro';
import Waitlist from '../components/Waitlist.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Bebop - Your content campaigns, one place">
  <main class="flex min-h-screen flex-col items-center justify-between">
    <Header />
    <Hero />
    <Features />
    <HowItWorks />
    <Testimonials />
    <Waitlist />
    <CTA />
    <Footer />
  </main>
</Layout>
