@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-grey: 60 1% 48%;
  --dark-grey: 60 2% 18%;
  --pink: 298 72% 66%;
  --white: 0 0% 100%;

  --background: var(--white);
  --foreground: var(--dark-grey);

  --primary: var(--pink);
  --primary-foreground: var(--white);

  --secondary: var(--light-grey);
  --secondary-foreground: var(--white);

  --muted: 60 5% 96%;
  --muted-foreground: 60 1% 48%;

  --accent: var(--light-grey);
  --accent-foreground: var(--white);
}

.dark {
  --background: var(--dark-grey);
  --foreground: var(--white);

  --primary: var(--pink);
  --primary-foreground: var(--white);

  --secondary: var(--light-grey);
  --secondary-foreground: var(--white);

  --muted: 60 2% 28%;
  --muted-foreground: 60 5% 84%;

  --accent: var(--light-grey);
  --accent-foreground: var(--white);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

